body {
	background-color: white;
	font-family: "Helvetica";
}

#header {
	color: red;
}

h1 {
	border: 3px dotted red;
	background-color: yellow;
	color: blue;
}

p {
	line-height: 40px;
	letter-spacing: 20px;
}

.phone-number {
	font-weight: bold;
}

.international {
	font-style: italic;
}