body {
   background-color: #191970
}

#star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five2 {
   margin: 50px 0;
   position: relative;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five2:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five2:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five3 {
   margin: 50px 0;
   position: absolute;
   left: 300px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five3:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five3:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five4 {
   margin: 50px 0;
   position: absolute;
   left: 500px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five4:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five4:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five5 {
   margin: 50px 0;
   position: absolute;
   left: 400px;
   top: 200px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five5:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five5:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five6 {
   margin: 50px 0;
   position: absolute;
   left: 300px;
   top: 100px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five6:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five6:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five7 {
   margin: 50px 0;
   position: absolute;
   left: 450px;
   top: 50px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five7:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five7:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five8 {
   margin: 50px 0;
   position: absolute;
   left: 150px;
   top: 25px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five8:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five8:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five9 {
   margin: 50px 0;
   position: absolute;
   left: 320px;
   top: -20px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five9:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five9:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five10 {
   margin: 50px 0;
   position: absolute;
   left: 300px;
   top: 100px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five10:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five10:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five11 {
   margin: 50px 0;
   position: absolute;
   top: 300px
   left: 300px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five11:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five11:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five12 {
   margin: 50px 0;
   position: absolute;
   top: 360px;
   left: 130px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five12:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five12:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five13 {
   margin: 50px 0;
   position: absolute;
   top: 450px;
   left: 40px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five13:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five13:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five14 {
   margin: 50px 0;
   position: absolute;
   top: 450px;
   left: 340px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five14:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five14:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five15 {
   margin: 50px 0;
   position: absolute;
   top: 360px;
   left: 420px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five15:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five15:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five16 {
   margin: 50px 0;
   position: absolute;
   top: 150px;
   left: 540px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five16:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five16:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five17 {
   margin: 50px 0;
   position: absolute;
   top: 250px;
   left: 180px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five17:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five17:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five18 {
   margin: 50px 0;
   position: absolute;
   top: 490px;
   left: 500px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five18:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five18:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five19 {
   margin: 50px 0;
   position: absolute;
   top: 380px;
   left: 580px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five19:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five19:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five20 {
   margin: 50px 0;
   position: absolute;
   top: 250px;
   left: 650px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five20:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five20:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five21 {
   margin: 50px 0;
   position: absolute;
   top: 60px;
   left: 650px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five21:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five21:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five22 {
   margin: 50px 0;
   position: absolute;
   top: 150px;
   left: 730px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five22:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five22:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five23 {
   margin: 50px 0;
   position: absolute;
   top: 300px;
   left: 790px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five23:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five23:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five24 {
   margin: 50px 0;
   position: absolute;
   top: 40px;
   left: 790px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five24:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five24:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five25 {
   margin: 50px 0;
   position: absolute;
   top: 450px;
   left: 690px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five25:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five25:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five26 {
   margin: 50px 0;
   position: absolute;
   top: -30px;
   left: 710px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five26:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five26:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five27 {
   margin: 50px 0;
   position: absolute;
   top: 200px;
   left: 840px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five27:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five27:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five28 {
   margin: 50px 0;
   position: absolute;
   top: 400px;
   left: 940px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five28:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five28:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five29 {
   margin: 50px 0;
   position: absolute;
   top: 290px;
   left: 1030px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five29:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five29:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five30 {
   margin: 50px 0;
   position: absolute;
   top: 300px;
   left: 920px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five30:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five30:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five31 {
   margin: 50px 0;
   position: absolute;
   top: 0px;
   left: 920px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five31:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five31:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five32 {
   margin: 50px 0;
   position: absolute;
   top: 40px;
   left: 1100px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five32:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five32:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five33 {
   margin: 50px 0;
   position: absolute;
   top: 460px;
   left: 1100px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five33:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five33:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five34 {
   margin: 50px 0;
   position: absolute;
   top: 360px;
   left: 1140px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five34:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five34:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five35 {
   margin: 50px 0;
   position: absolute;
   top: 230px;
   left: 1150px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five35:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five35:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five36 {
   margin: 50px 0;
   position: absolute;
   top: -30px;
   left: 1030px;
   display: block;
   color: yellow;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.055);
   -webkit-transform: rotate(35deg) scale(.055);
   -ms-transform:     rotate(35deg) scale(.055);
   -o-transform:      rotate(35deg) scale(.055);
}
#star-five36:before {
   border-bottom: 80px solid yellow;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five36:after {
   position: absolute;
   display: block;
   color: yellow;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid yellow;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #F0E68C;
  position: fixed;
  left: 300px;
  top: 180px;
}

#circle {
   width: 110px;
   height: 110px;
   background: #9370DB;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   position: absolute;
   top: 80px;
   left: 215px;
}

#circle2 {
   width: 100px;
   height: 100px;
   background: #6A5ACD;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   position: absolute;
   top: 120px;
   left: 165px;
}

#circle3 {
   width: 100px;
   height: 100px;
   background: #663399;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   position: absolute;
   top: 115px;
   left: 280px;
}


#circle4 {
   width: 100px;
   height: 100px;
   background: #7B68EE;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   position: absolute;
   top: 130px;
   left: 220px;
}

#circle5 {
   width: 70px;
   height: 70px;
   background: #778899;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   position: absolute;
   top: 150px;
   left: 340px;
}

#circle7 {
   width: 65px;
   height: 65px;
   background: #708090;
   -moz-border-radius: 40px;
   -webkit-border-radius: 40px;
   border-radius: 40px;
   position: absolute;
   top: 155px;
   left: 130px;
}

#circle8 {
   width: 60px;
   height: 60px;
   background: #708090;
   -moz-border-radius: 35px;
   -webkit-border-radius: 35px;
   border-radius: 35px;
   position: absolute;
   top: 320px;
   left: 1010px;
}

#circle9 {
   width: 85px;
   height: 85px;
   background: #708090;
   -moz-border-radius: 40px;
   -webkit-border-radius: 40px;
   border-radius: 40px;
   position: absolute;
   top: 260px;
   left: 970px;
}

#circle10 {
   width: 75px;
   height: 75px;
   background: #483D8B;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   position: absolute;
   top: 300px;
   left: 800px;
}

#circle11 {
   width: 95px;
   height: 95px;
   background: #663399;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 70px;
   position: absolute;
   top: 240px;
   left: 850px;
}

#circle13 {
   width: 80px;
   height: 80px;
   background: #6A5ACD;
   -moz-border-radius: 55px;
   -webkit-border-radius: 55px;
   border-radius: 55px;
   position: absolute;
   top: 290px;
   left: 845px;
}

#circle14 {
   width: 90px;
   height: 90px;
   background: #7B68EE;
   -moz-border-radius: 65px;
   -webkit-border-radius: 65px;
   border-radius: 65px;
   position: absolute;
   top: 260px;
   left: 910px;
}

#circle15 {
   width: 80px;
   height: 80px;
   background: #483D8B;
   -moz-border-radius: 45px;
   -webkit-border-radius: 45px;
   border-radius: 45px;
   position: absolute;
   top: 300px;
   left: 960px;
}

#circle16 {
   width: 90px;
   height: 90px;
   background: #4B0082;
   -moz-border-radius: 45px;
   -webkit-border-radius: 45px;
   border-radius: 45px;
   position: absolute;
   top: 300px;
   left: 900px;
}

#rectangle {
   width: 100%;
   height: 100px;
   background: #556B2F;
   position: absolute;
   top: 625px;
}

#rectangle2 {
   width: 55px;
   height: 200px;
   background: #8B4513;
   position: absolute;
   top: 500px;
   left: 300px;
}

#triangle-up {
   width: 0;
   height: 0;
   border-left: 80px solid transparent;
   border-right: 80px solid transparent;
   border-bottom: 130px solid green;
   position: absolute;
   top: 520px;
   left: 250px;
}

#triangle-up2 {
   width: 0;
   height: 0;
   border-left: 60px solid transparent;
   border-right: 60px solid transparent;
   border-bottom: 110px solid green;
   position: absolute;
   top: 475px;
   left: 270px;
}

#triangle-up3 {
   width: 0;
   height: 0;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   border-bottom: 90px solid green;
   position: absolute;
   top: 435px;
   left: 290px;
}

#triangle-up4 {
   width: 0;
   height: 0;
   border-left: 80px solid transparent;
   border-right: 80px solid transparent;
   border-bottom: 130px solid green;
   position: absolute;
   top: 520px;
   left: 855px;
}

#triangle-up5 {
   width: 0;
   height: 0;
   border-left: 60px solid transparent;
   border-right: 60px solid transparent;
   border-bottom: 110px solid green;
   position: absolute;
   top: 475px;
   left: 875px;
}

#triangle-up6 {
   width: 0;
   height: 0;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   border-bottom: 90px solid green;
   position: absolute;
   top: 437px;
   left: 893px;
}

#rectangle3 {
   width: 55px;
   height: 50px;
   background: #8B4513;
   position: absolute;
   top: 650px;
   left: 900px;
}